{
  //  "extends": [
  //    "react-app",
  //    "eslint:recommended",
  //    "eslint-config-airbnb"
  //  ],
  //  "rules": {
  //    "react/jsx-filename-extension": 0,
  //    "comma-dangle": 0,
  //    "react/jsx-props-no-spreading": 0
  //  }
}